name: Build

on:
  workflow_dispatch: {}
  push:
    branches: [ nextgen ]
  pull_request:
    branches: [ nextgen ]

jobs:
  extract-versions:
    runs-on: ubuntu-latest
    outputs:
      lb_version: ${{ steps.versions.outputs.lb_version }}
      jdk_version: ${{ steps.versions.outputs.jdk_version }}
      minecraft_version: ${{ steps.versions.outputs.minecraft_version }}
      loader_version: ${{ steps.versions.outputs.loader_version }}
      fabricapi_version: ${{ steps.versions.outputs.fabricapi_version }}
      kotlin_version: ${{ steps.versions.outputs.kotlin_version }}
      fabric_kotlin_version: ${{ steps.versions.outputs.fabric_kotlin_version }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract versions
        id: versions
        run: |
          set -euo pipefail

          gradleprop () {
            grep "^$1=" gradle.properties | head -n1 | cut -d'=' -f2-
          }

          tomlprop () {
            grep "^$1[[:space:]]*=" gradle/libs.versions.toml \
              | sed -n 's/^[^=]*=[[:space:]]*"\([^"]*\)".*/\1/p'
          }

          echo "lb_version=$(gradleprop mod_version)" >> $GITHUB_OUTPUT
          echo "jdk_version=$(tomlprop jdk)" >> $GITHUB_OUTPUT
          echo "minecraft_version=$(tomlprop minecraft)" >> $GITHUB_OUTPUT
          echo "loader_version=$(tomlprop fabric-loader)" >> $GITHUB_OUTPUT
          echo "fabricapi_version=$(tomlprop fabric-api)" >> $GITHUB_OUTPUT
          echo "kotlin_version=$(tomlprop kotlin)" >> $GITHUB_OUTPUT
          echo "fabric_kotlin_version=$(tomlprop fabric-kotlin)" >> $GITHUB_OUTPUT

  build:
    runs-on: ubuntu-latest
    needs: extract-versions
    if: github.ref == 'refs/heads/nextgen'

    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ needs.extract-versions.outputs.jdk_version }}

      - name: Grant permissions
        run: chmod -R 777 src-theme || true

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build
        run: ./gradlew build -x test -x detekt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: LiquidBounce
          path: build/libs/*.jar

  verify-pr:
    runs-on: ubuntu-latest
    needs: extract-versions
    if: github.ref != 'refs/heads/nextgen'

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ needs.extract-versions.outputs.jdk_version }}

      - name: Build
        run: ./gradlew build
